<div ng-show ="!showloading">
	<div ng-controller="BlogController">
	<form name="addblogform">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" ng-model="blog.blogName" class="form-control"
				placeholder="Enter Blog Title" required>
		</div>

		<div class="form-group">
			<label for="tag">Tag</label>
			<input type="text" ng-model="blog.tag" class="form-control"
				placeholder="Enter Blog Tag" required>
		</div>

		<div class="form-group">
			<label for="name">Description</label>
			<textarea 
				ng-model="blog.content" class="form-control"
				placeholder="Enter Description" required>
			</textarea>
		</div>
		<button type="submit" class="btn btn-primary" ng-click="addBlog(blog)" ng-init="showBlogAddSuccess=false">Add
		</button>

		<div class="alert alert-success" role="alert" ng-show="showBlogAddSuccess" ng-init="showBlogAddSuccess=false">
  			{{blog_add_success}}
		</div>		
		<div class="alert alert-danger" role="alert" ng-show="showBlogAddError" ng-init="showBlogAddError=false">
  			{{blog_add_error}}
		</div>
		</form>
	</div>
</div>
